/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
}

.wrapper {
	display: flex;
	width: 100%;
}

#content {
	width: 100%;
}



#sidebar {
	min-width: 200px;
	padding: 0.5rem 1rem;
	height: 100vh;
	position: fixed;
	z-index: 999;
	transition: all 0.3s;
	margin-left: 0px;
	background-color: #ac4142;
	color: white;
}

	#sidebar.active {
		margin-left: -300px;
	}

a[data-toggle="collapse"] {
	position: relative;
}


@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}

		#sidebar.active {
			margin-left: 0;
		}
}

