@page
@model MTR2.Web.Pages.BArticleModel
@{
	ViewData["Title"] = Model.BlogArticle.Title;
}
<h2>
@Model.BlogArticle.Title
</h2>
<img class="w-100" src="~/images/posts/thumbnails/@Model.BlogArticle.Id" />
<br />
@Html.Raw(Model.RenderedContent)
