@page
@model MTR2.Web.Pages.EditRepoArticleModel
@{
	ViewData["Title"] = $"Edit Article - ${Model.RepoArticle.Title}";
}

<h1>EditRepoArticle</h1>>


<div class="row">
	<form method="post" class="col-md-6 m-auto">
		<div class="form-group">
			<label asp-for="Input.Title"></label>
			<input asp-for="Input.Title" class="form-control" value="@Model.RepoArticle.Title" />
		</div>
		<div class="form-group">
			<label asp-for="Input.Content"></label>
			<textarea asp-for="Input.Content" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>

@section Scripts {
	<script src="~/simplemde/simplemde.min.js"></script>
	<script>
			var simplemde = new SimpleMDE();
	</script>
}
