@page
@model MTR2.Web.Pages.RepoModel
@{
    ViewData["Title"] = "Repository";
}

<h1 class="text-center mt-2 mb-2">Repo</h1>
<vc:repo-article-list></vc:repo-article-list>
@if (Request.Cookies.ContainsKey("preview")) {
	<text>Cookie set!@Request.Cookies["preview"]</text>
}
