@model IEnumerable<MTR2.Dal.Dtos.RepoArticleDto>

<nav id="ref-articles" class="mt-3">
	<ul>
		@foreach (var repoArticle in Model)
		{
		<li>
			<a asp-page="RArticle" asp-route-id="@repoArticle.Id">@repoArticle.Order @repoArticle.Title</a>
		</li>
		}
	</ul>
</nav>